.main-page {
    &-content {
        display: grid;
        gap: 20px;
        grid-template-columns: 2fr 1fr;
        height: max-content;
    }

    &-controlButtons {
        display: inline-flex;
        height: 100%;
        flex-direction: column;
        padding: 5px;
        border-radius: 10px;
        border: 1px dashed #ffb703;
    }
    
    &-calculateControllers {
        display: inline-flex;
        height: 100%;
        flex-direction: column;
        padding: 5px;
        border-radius: 10px;
        border: 1px dashed #ffb703;
    }
    .overflow_container {
        height: 400px;
    }
    tbody button {
        justify-self: center;
        align-self: center;
        width:max-content;
        padding: 3px;
        padding-bottom: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 10px;
        background-color: #264653;
    }
}

